@charset "UTF-8";
/* CSS Document */


/*Header*/
#toppage{
	display: flex;
	flex-direction: row;
	text-align: center;
}
.returnarrow{
	
}
#logobrand{
	
}


/*Body*/
#main{
	
}
#backpagepic{
	width: 500px;
	margin-left: -8px;
}
#navigation{
	background-color: ghostwhite;
	border-radius: 50px;
	padding-bottom: 20px;
	text-align:left;
}
#toptitle{
	display: flex;
	flex: row;
}
#maintitle{
	font-size: 2.7em;
}
#heart{
	
}
.heartP1{
	font-size: 40px;
}
.heartP2{
	
}
.phasistitle{
	border-bottom: solid;
	border-bottom-color: darkseagreen;
	width: 12%;
}
.text0{
	font-size: 1.5em;
}
#menuentrees{
	
}
#menuplats{
	
}
#menudesserts{
	
}
.menu{
	background-color: white;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
	flex-direction: row;
	margin-top: 20px;
}
.menu, .textmenu{
	display: flex;
}
.textmenu{
	flex-direction: column;
}
.menu1{
	
}
.text1{
	
}
.menu2{
	
}
.text2{
	
}
.textprice{
	
}
.price1{
	
}


/*Button*/
#command{
	text-align: center;
}
.button0{
	
}


/*Footer*/
#botpage{
	
}
#logobrandbot{
	
}
#textmenubot{
	
}
.button1{
	
}
.stylebutton{
	
}